---
import data from '../content/landing.json'
---

<section class="[ grid md:grid-cols-3 ]">
  <div class="md:col-span-2">
    <div class="">
      <h1 class="ui-text-title-1">{data.hero.title}</h1>
      <p>
        {data.hero.text}
        <br />
        {data.example.title}
      </p>
    </div>
    <div class="grid grid-cols-2 md:col-span-1 w-fit mx-auto">
      <img class="justify-self-start" src={data.example.imageFinished} alt={data.example.imageFinishedAlt} />
      <img class="justify-self-end" src={data.example.imageSketch} alt={data.example.imageSketchAlt} />
    </div>

    <div>
      <p>{data.footer.title}</p>
      <p>{data.footer.text}</p>
    </div>
    <div>
      <p>{data.english.title}</p>
      <p>{data.english.text}</p>
    </div>
    <div class="block">
      <a href={data.redes.fb} class="ui-button">Facebook</a>
      <a href={data.redes.instagram} class="ui-button">Instagram</a>
      <a href={data.redes.blog} class="ui-button-small">Blog</a>
      <a href={data.redes.portafolio} class="ui-button">Portafolio</a>
    </div>
  </div>
</section>
